<template>
	<div>
		<div v-if="loading" class="cover-loader">
			<v-progress-circular
				style="margin: auto"
				:size="150"
				:width="15"
				color="primary"
				indeterminate>
			</v-progress-circular>
		</div>
		<div v-else-if="!tested">
			<div v-if="markedDescription" class="task-description-block"
			     v-html="markedDescription"
			>

			</div>
			<!--div class="task-description-block">
				<span class="task-header">Описание задания</span><br>
				<div class="task-description">
					Написать функцию debounce. Функция должна принимать два параметра: <code class="inline-code">func: Function, timeout: int</code>.
					Результат работы функции: <code class="inline-code">debouncedFunc: Function</code>. Возвращённая функция должна при каждом своём вызове вызывать оригинальную функцию с задержкой,
					равной второму аргументу, переданному в функцию debounce. При попытке последующих вызовов во время задержки, таймер должен сбрасываться и учитываться только последний вызов.<br>
					Функция debounce должна быть объявлена следующим образом: <code class="inline-code">this.debounce = function () {...}</code>
					<br><br>
					В качестве дополнительного задания требуется: сохранять контекст вызова debounce и аргументы вызова функции-обертки.
				</div>
			</div-->
			<div class="editor-container">
				<textarea @keydown.9.exact.prevent="allowTab" ref="codeArea" class=" half-space js-editor-textarea editor-common" v-model="code">
				</textarea>
				<pre class="half-space"><code ref="jsCode" v-html="formatedCode" class="js editor-common hljs"></code>
				</pre>
			</div>
			<div class="result-container">
				<v-btn v-on:click="run" large color="primary">Run</v-btn>
			</div>
		</div>
		<div class="component-container" v-else>
			<div class="switch-back-to-code">
				<v-btn v-on:click="tested=false" fab dark color="pink">
					<v-icon dark>edit</v-icon>
				</v-btn>
				Вернуться к коду
			</div>
			<div class="result-message">
				<v-alert :value="true" :type="correct ? 'success' : 'error'">
					{{ correct ? 'Молодец, все тесты пройдены' : 'Ещё есть куда стремиться' }}
				</v-alert>
			</div>
			<div class="result-table">
			</div>
		</div>
	</div>
</template>

<script>
import hljs from 'highlight.js/lib/index';
import * as marked from 'marked';

// eslint-disable-next-line
let calledCounter;
// eslint-disable-next-line
let resultedString;
// eslint-disable-next-line

export default {
	name: 'Tester',
	data () {
		return {
			code: '',
			formatedCode: '',
			position: null,
			calledCounter: 0,
			loading: false,
			socket: null,
			tested: false,
			correct: false,
			shouldRedraw: false,
			markedDescription: ''
		};
	},
	watch: {
		code () {
			this.formatedCode = hljs.highlight('javascript', this.code, true).value;
		}
	},
	methods: {
		run () {
			this.socket.send(JSON.stringify({
				type: 'task',
				payload: this.code
			}));
			this.loading = true;
		},
		allowTab () {
			this.position = this.$refs.codeArea.selectionStart;
			this.code = `${this.code.slice(0, this.position)}\t${this.code.slice(this.position)}`;
		},
		parseMessage (serverMessage) {
			let data;
			try {
				data = JSON.parse(serverMessage.data);
				console.log(data);
				if (data.type === 'tested') {
					this.tested = true;
					this.loading = false;
				} else if (data.type === 'content') {
					this.markedDescription = marked(data.content);
					this.loading = false;
				}
			} catch (error) {
				console.error(error);
			}
		}
	},
	mounted () {
		this.socket = new WebSocket(`ws://${process.env.HOST}:8080`);
		this.socket.onmessage = this.parseMessage;
		this.loading = true;
	},
	beforeDestroy () {
		this.socket.close();
	},
	updated () {
		if (this.position !== null)
			this.$refs.codeArea.setSelectionRange(this.position + 1, this.position + 1);
		this.position = null;
	}
};
</script>

<style>
@import "highlight.js/styles/dracula.css";
	.editor-common {
		margin: 30px 50px;
		height: 400px;
	}
	.half-space {
		min-width: 45%;
	}
	.js-editor-textarea {
		min-width: 40% !important;
		border: 1px solid;
		border-spacing: 10px;
		padding: 10px
	}
	.editor-container {
		display: flex;
	}
	code::before {
		content: ""!important;
	}
	.task-description-block {
		margin-top: 25px;
	}
	.task-description {
		padding-left: 5%;
		padding-right: 5%;
	}
	.inline-code {
		padding: 5px;
	}
	.task-header {
		margin-left: 40%;
		font-size: 150%;
	}
	.result-container {
		margin-top: -50px;
		margin-left: 40px;
	}
	.result-list-element {
		margin: 15px
	}
	.component-container {
		margin-left: 50px;
	}
	.cover-loader {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		margin-top: -20px;
		z-index: 2;
		position: absolute;
		background-color: rgba(0,0,0,0.4);
		width: 100%;
		height: calc(100% - 70px);
	}
</style>
