<template>
	<v-app>
		<v-navigation-drawer
		persistent
		:mini-variant="miniVariant"
		v-model="drawer"
		enable-resize-watcher
		fixed
		app
		>
			<v-list>
				<v-list-tile
					value="true"
					v-for="(item, i) in items"
					:key="i"
					:to="item.path"
				>
					<v-list-tile-action>
						<v-icon v-html="item.icon"></v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title v-text="item.title"></v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar
			app
			:clipped-left="clipped"
		>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-btn icon @click.stop="miniVariant = !miniVariant">
				<v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
			</v-btn>
			<v-toolbar-title style="align-content: center" v-text="title"></v-toolbar-title>
		</v-toolbar>
		<v-content>
			<router-view/>
		</v-content>
	</v-app>
</template>

<script>
export default {
	data () {
		return {
			clipped: false,
			drawer: true,
			fixed: false,
			items: [
				{
					title: 'Home',
					icon: 'home',
					path: '/'
				},
				{
					title: 'Tester',
					icon: 'cloud',
					path: '/tester'
				}
			],
			miniVariant: false,
			right: true,
			rightDrawer: false,
			title: 'Javascript Application tester'
		};
	},
	name: 'App'
};
</script>
